<header>
  <div class="header-container">
    <a href="/src/index.html" class="header-logo-link"
      ><svg class="header-logo">
        <use href="./scr/images/header-icons.svg#icon-logo"></use>
      </svg>
      Bookshelf
    </a>
    <nav class="navigation">
      <ul class="site-nav">
        <li class="site-nav_item-activ">
          <a href="/src/index.html" class="site-nav_link-active">Home</a>
        </li>
        <li class="site-nav_item">
          <a href="/src/shopping-list.html" class="site-nav_link"
            >Shopping list<svg class="site-nav_logo">
              <use href="/src/images/header-icons.svg#"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
