<header>
  <div class="header-container">
    <a href="../index.html" class="header-logo-link">
      <svg class="header-logo-icon">
        <use href="./img/icon.svg#icon-logo"></use>
      </svg>
      Bookshelf
    </a>

    <nav class="navigation">
      <ul class="site-nav">
        <li class="site-nav-item-home site-nav-item-active">
          <a href="../index.html" class="home-link home-link-active">Home</a>
        </li>

        <li class="site-nav-item-shop">
          <a href="./shopping-list.html" class="shopping-link">
            Shopping list
          </a>
          <svg class="basket-icon">
            <use href="./img/icon.svg#basket"></use>
          </svg>
        </li>
      </ul>
    </nav>

    <label class="toggle-theme js-common-toggle">
      <input type="checkbox" />
      <span class="check"></span>
    </label>

    <button type="button" class="burger-menu">
      <a href="../index.html" class="burger-link"></a>
      <svg class="menu-burger-icon" width="28px" height="28px">
        <use href="./img/icon.svg#menu-burger"></use>
      </svg>
    </button>

    <button type="button" class="mobile-menu-button">
      <svg class="close-icon" width="28px" height="28px">
        <use href="./img/icon.svg#icon-x-close"></use>
      </svg>
    </button>

    <button class="sign-up-button" type="button">
      <span class="sign-up-btn-text">Sign up</span>
      <svg class="sign-up-icon" width="20px" height="20px">
        <use href="./img/icon.svg#sign-up-icon"></use>
      </svg>
    </button>

    <!--  mobile -->
    <div class="mobile-nav">
      <ul class="mobile-list">
        <li class="mobile-item">
          <a class="mobile-link js-close-menu" href="#home">HOME</a>
        </li>

        <li class="mobile-item">
          <a class="mobile-link js-close-menu" href="#shopping"
            >Shopping list</a
          >
        </li>
      </ul>

      <button class="log-out-btn" type="button">
        <span class="log-out-text">Log out</span>

        <svg class="log-out-icon" width="20px" height="20px">
          <use href="./img/icon.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
