<div class="backdrop js-backdrop is-hidden js-backdrop">
  <div class="modal">
    <button class="close-btn-modal" type="button">
      <svg height="24" width="24" class="icon-close-modal">
        <use href="./img/icon.svg#icon-x-close"></use>
      </svg>
    </button>

    <div class="add-books-backend">
      <!-- for backend -->
    </div>

    <div>
      <button class="btn-add-local" type="button">
        <p class="add-local" hidden>add to shopping list</p>
        <p class="remove-local" hidden>remove from the shopping list</p>
      </button>


      <div class="text-box text-off">
        <p class="text-modal">
          Сongratulations! You have added the book to the shopping list. To
          delete, press the button "Remove from the shopping list".
        </p>
      </div>
    </div>
  </div>
</div>
