<button class="modal-open" type="button">modal</button>

<div class="backdrop js-backdrop is-hidden" js-backdrop>
  <div class="modal">
    <button class="close-btn-modal" type="button">
      <svg height="24" width="24" class="icon-close-modal">
        <use href="./img/icon.svg#icon-x-close"></use>
      </svg>
    </button>
    <div class="add-books-backend">
      <!-- for backend -->
    </div>
    <button class="modal-btn" type="button">
      add to shopping list<span></span>
    </button>
    <div class="text-box">
      <p class="text-modal">
        Сongratulations! You have added the book to the shopping list. To
        delete, press the button “Remove from the shopping list”.
      </p>
    </div>
  </div>
</div>
