<div class="charities-section">
  <div class="sup-ukraine-head">
    <h1 class="sup-ukraine-title">Support Ukraine</h1>
    <svg class="sup-ukraine-gerb" width="20px" height="32px">
      <use href="./img/icon.svg#icon-support-ukr-logo"></use>
    </svg>
  </div>
  <ul class="list sup-list"></ul>
  <div class="pos-but">
    <button id="toggleButton" class="button-sup">
      <svg class="button-sup-svg is-hidden-support" width="20px" height="32px">
        <use href="./img/icon.svg#icon-support-ukr-scroll-down"></use>
      </svg>
      <svg class="button-sup-svg-up">
        <use href="./img/icon.svg#icon-support-ukr-scroll-up"></use>
      </svg>
    </button>
  </div>
</div>
