<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/toggle-menu.css">
    <link rel="stylesheet" href="../css/reset.css">
</head>
<body>
    <ul class="toggle-ul">
        <li class="home-btn-li">
            <a href="../index.html">
            <button type="button" class="home-btn">
               <p class="home-btn-text"> Home </p>
            </button>
            </a>
        </li>
        <li class="shopping-list-li">
            <a href="../shopping-list.html">
               <p class="shopping-list-title"> shopping list</p>
            </a>
            <svg class="vector-lock-svg">
                <use href="../img/icon.svg#icon-Vector-lock"></use>
              </svg>
        </li>
    </ul>
    <img 
    srcset="../img/menu-picture-2x.png 2x, ../img/menu-picture.png 1x"
    src="../img/menu-picture.png"
    alt="menu-picture"
    class="toggle-books-img">
</body>
</html>