body {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  background-color: var(--background-color-light);
  color: var(--primary-text-color-light-theme);
}

body.dark {
  background-color: var(--black-color);
  color: var(--primary-text-color-dark-theme);
}

.main-container {
  margin-top: 104px;
}

.container-basic {
  max-width: 375px;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.container-book {
  width: 335px;
}

.container-categories-support {
  width: 335px;
  height: 728px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media screen and (min-width: 768px) {
  .main-container {
    margin-top: 112px;
  }
  .container-basic {
    max-width: 768px;
    margin-bottom: 100px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .container-book {
    width: 704px;
  }

  .container-categories-support {
    flex-wrap: nowrap;
    width: 704px;
    height: 474px;
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .container-basic {
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 24px;
    padding-right: 24px;
  }
  .container-book {
    width: 996px;
  }

  .container-categories-support {
    width: 356px;
    /* height: 1032px; */
    flex-wrap: wrap;
    margin-right: 40px;
  }
}
