.mobile-nav,
.sign-up-button {
  display: none;
}
.main-container {
  margin-top: 100px;
}

.header-container {
  background-color: var(--background-color-light);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;

  display: flex;
  width: 375px;
  height: 64px;
  margin-left: auto;
  margin-right: auto;
  border: 1.5px solid #111111;
  border-radius: 0px 0px 8px 8px;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 40px;
}
.header-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 109px;
  /* height: 28px; */
  margin-right: auto;
  padding-top: 18px;
  padding-bottom: 18px;
}
input[type='checkbox'] {
  display: none;
}
.check {
  position: relative;
  display: block;
  width: 40px;
  height: 24px;
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.25s ease-in-out;
}

.check::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  top: 3px;
  left: 1px;
  background: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1),
    1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: 0.25s ease-in-out;
}

input[type='checkbox']:checked ~ .check {
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  transition: background-color 0.25s ease-in-out;
}

input[type='checkbox']:checked ~ .check::after {
  transform: translateX(20px);
  transition: transform 0.25s ease-in-out;
}

.header-logo-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.navigation,
.mobile-menu-button {
  display: none;
}

.toggle-theme {
  margin-left: auto;
  margin-right: 14px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.burger-menu {
  display: flex;
  width: 28px;
  height: 28px;
  background-color: transparent;
  padding: 0;
  border: none;
}
.burger-link {
  display: flex;
  padding-top: 18px;
  padding-bottom: 18px;
}

.menu-burger-icon {
  stroke: #111111;
  align-self: center;
  justify-content: center;
  width: 28px;
  height: 28px;
}

.close-icon {
}

.log-out-btn {
  display: none;
  width: 118px;
  height: 48px;
  background-color: transparent;
  padding: 0;
  border: none;
  border-radius: 18px;
  border: 1.5px solid #111;
  background: #fff;
  justify-content: center;
  align-items: center;
}

.log-out-text {
  display: block;
  color: #111;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28; /* 128.571% */
  letter-spacing: -0.56px;
  margin-right: 4px;
}

@media screen and (min-width: 768px) {
  .mobile-nav {
    display: none;
  }

  .header-container {
    width: 768px;
    height: 72px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .burger-menu {
    display: none;
  }

  .header-logo-link {
    margin-right: 40px;
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .mobile-menu-button {
    display: none;
  }
  .navigation {
    display: flex;
    align-items: center;
    height: 34px;
    padding-top: 19px;
    padding-bottom: 19px;
    margin-right: 101px;
  }

  .site-nav {
    display: flex;
    align-items: center;
    /* width: 220px; */
    height: 34px;
  }

  .site-nav-item-shop {
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: auto;
  }
  .site-nav-item-home {
    display: flex;
    align-items: center;
    text-align: center;
  }
  .site-nav-item-home {
    margin-right: 24px;
  }

  .home-link {
    display: block;
    white-space: nowrap;
  }

  .site-nav-item-home,
  .site-nav-item-shop {
    transition: background-color var(--transition-time);
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .shopping-link {
    display: block;
    margin-right: 8px;
    white-space: nowrap;
  }

  .basket-icon {
    stroke: #111111;
    align-self: center;
    justify-content: center;
    width: 20px;
    height: 20px;
  }

  .burger-menu {
    display: none;
  }
  .toggle-theme {
    margin-right: 24px;
  }

  .sign-up-button {
    display: flex;
    align-items: center;

    width: 184px;
    height: 48px;
    border-radius: 18px;
    border: 1.5px solid #111;
    background-color: #4f2ee8;
    padding: 12px 14px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
  }

  .sign-up-btn-text {
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.28; /* 128.571% */
    letter-spacing: -0.56px;
    margin-right: auto;
    color: #fff;
  }
}

@media screen and (min-width: 1440px) {
  .header-container {
    width: 1440px;
    height: 72px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .header-logo-link {
    margin-right: 92px;
    padding-top: 22px;
    padding-bottom: 22px;
  }
  .site-nav-item-home {
    margin-right: 40px;
  }
  .site-nav-item-shop {
    margin-right: auto;
  }
}

/* .site-nav__item {
  padding: 8px 16px;
} */

/* .site-nav__item_active {
  background-color: #eac645;
  border-radius: 36px;
  padding: 8px 16px;
} */

/* .site-nav__link_active {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  color: #111111;
} */

/* .site-nav__link {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  color: #111111;
} */

/* .site-nav__logo {
  width: 20px;
  height: 20px;
  fill: black;

  margin-left: 4px;
} */

/* .site-nav__logo_active {
  width: 20px;
  height: 20px;
  fill: #111111;

  margin-left: 4px;
} */

.delete {
}

/* .header-logo-link {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.04em;
  display: flex;
  align-items: center;
} */

/* .header-logo {
  width: 24px;
  height: 24px;
  margin-right: 8px;
} */

/* @media screen and (min-width: 1440px) {
  .header-container {
    max-width: 1440px;
  }
} */

/* 
} */

/* .burger-menu__icon {
  width: 28px;
  height: 28px;
  fill: var(--primary-text-color-light-theme);
  transition: fill 0.25s ease-in-out;
} */

/* .burger-menu__icon:hover {
  fill: #4f2ee8;
} */

/* burger modal */

/* .mobile-menu-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  z-index: 20;
  background: linear-gradient(#4f2ee8 0%, #fff 130%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
} */

/* .is-hidden-header {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);
} */

/* .burger-container {
  background-image: url(../img/menu-picture.png);
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 0;
  background-size: contain;
  width: 100%;
  height: 100%;
} */

/* @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .burger-container {
    background-image: url(../img/menu-picture-2x.png);
    background-size: contain;
  }
} */

/* .mobile-menu__header {
  background-color: var(--background-color-light);
  border: 1.5px solid #111111;
  border-radius: 0px 0px 8px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 20px;
} */
/* 
.mobile-menu__button {
  background-color: transparent;
  display: flex;
  border: none;
} */

/* .mobile-menu__icon {
  width: 28px;
  height: 28px;
  fill: var(--primary-text-color-light-theme);
  transition: fill 0.25s ease-in-out;
} */

/* .mobile-menu__icon:hover {
  fill: #4f2ee8;
} */
/* 
.sign-up-button-burger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 184px;
  padding: 13px 14px;
  margin-top: 20px;
  margin-left: 20px;

  background: #4f2ee8;
  border: 1.5px solid #111111;
  border-radius: 18px;
  cursor: pointer;
} */

/* .navigation-burger {
  display: flex;
  justify-content: center;
  margin-top: 126px;
} */

/* .navigation-burger-shopping-list {
  display: flex;
  justify-content: center;
  margin-top: 183px;
} */

/* .log-out-button_icon {
  margin-left: 7px;
} */

/* @media screen and (min-width: 768px) {
  .header-logo-link {
    margin-right: 40px;
  } */
/* 
  .toggle-theme {
    margin-left: 0;
  } */

/* 
  .burger-menu {
    display: none;
  } */

/* @media screen and (min-width: 1440px) {
  .navigation {
    margin-right: 745px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */
