.backdrop-header {
  position: fixed;
  width: 100%;
  height: 100%;

  background: url('../img/menu-picture.png') no-repeat left 50% bottom 0,
    linear-gradient(#4f2ee8 0%, #fff 130%) fixed;
  background-size: auto;
  top: 0;
  z-index: 500;
}

.menu-burger-icon.is-hidden-burger {
  display: none;
}
.icon-close-burger.is-hidden-burger {
  display: none;
}
.mob-menu.is-open {
  position: relative;
  transform: translateX(0);
}
.mobile-nav {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 247px;
  width: 375px;
  height: 100vh;
  color: inherit;
}

.mobile-list {
  display: flex;
  flex-direction: column;
  justify-content: start;

  padding-left: 113px;
  padding-right: 112px;
}
.mobile-item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  margin-bottom: 25px;
}
.mobile-item.active {
  fill: #111;
  color: #111;
  background-color: var(--yellow-color);
  padding: 8px 16px;
  border-radius: 36px;
  margin-right: auto;
}
.mobile-item.active .mobile-link {
  font-weight: 700;
  color: #111;
  fill: #111;
}

.mobile-link {
  display: flex;
  white-space: nowrap;
  flex-wrap: nowrap;
  gap: 4px;

  justify-content: center;
  align-items: center;
  color: var(--primary-text-color-dark-theme);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28; /* 128.571% */
  letter-spacing: -0.56px;
  text-transform: uppercase;
  margin-right: 4px;
}

.is-hidden-mobile {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.burger-menu.is-hidden-burger {
  background-color: transparent;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.mob-menu-close.is-hidden-burger {
  background-color: transparent;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  display: none;
}
.mob-menu-close {
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
}

.menu-burger-icon {
  stroke: var(--primary-text-color-light-theme);
}
.menu-burger-icon.dark {
  stroke: var(--primary-text-color-dark-theme);
}

.icon-close-mobile {
  stroke: var(--primary-text-color-light-theme);
}
.icon-close-mobile.dark {
  stroke: var(--primary-text-color-dark-theme);
}
.icon-close-burger {
  stroke: var(--primary-text-color-light-theme);
}
.icon-close-burger.dark {
  stroke: var(--primary-text-color-dark-theme);
}

.basket-icon {
  align-self: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  stroke: none;
}
.basket-icon-mob {
  align-self: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  stroke: none;
  fill: var(--primary-text-color-dark-theme);
}
.basket-icon.dark,
.basket-icon-mob.dark {
  stroke: none;
  fill: var(--primary-text-color-dark-theme);
}

.site-nav-item-shop.active .basket-icon {
  fill: #111;
}

.mobile-item.active .basket-icon-mob {
  font-weight: 700;
  color: #111;
  fill: #111;
}

.sign-up-button {
  display: none;
}

body.dark .header-container {
  background-color: var(--black-color);
  color: var(--primary-text-color-dark-theme);
  border: 1.5px solid var(--background-color-light);
}

.header-container {
  background-color: var(--background-color-light);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;

  display: flex;
  width: 375px;
  height: 64px;
  margin-left: auto;
  margin-right: auto;
  border: 1.5px solid #111111;
  border-radius: 0px 0px 8px 8px;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.header-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 109px;
  margin-right: auto;
  padding-top: 18px;
  padding-bottom: 18px;
}
input[type='checkbox'] {
  display: none;
}
.check {
  position: relative;
  display: block;
  width: 40px;
  height: 24px;
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.25s ease-in-out;
}

.check::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  top: 3px;
  left: 1px;
  background: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1),
    1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: 0.25s ease-in-out;
}

input[type='checkbox']:checked ~ .check {
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  transition: background-color 0.25s ease-in-out;
}

input[type='checkbox']:checked ~ .check::after {
  transform: translateX(20px);
  transition: transform 0.25s ease-in-out;
}

.header-logo-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.navigation,
.mobile-menu-button {
  display: none;
}

.toggle-theme {
  margin-left: auto;
  margin-right: 14px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.burger-menu {
  z-index: 700;
  display: flex;
  width: 28px;
  height: 28px;
  background-color: transparent;
  padding: 0;
  border: none;
}

.burger-link {
  display: flex;
  padding-top: 18px;
  padding-bottom: 18px;
}

.menu-burger-icon {
  stroke: #111111;
  align-self: center;
  justify-content: center;
  width: 28px;
  height: 28px;
}

.log-out-btn {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  gap: 4px;
  padding: 14px 24px;
  border-radius: 18px;
  border: 1.5px solid #111;
  background: #fff;
  justify-content: center;
  align-items: center;
}

.log-out-text {
  display: block;
  color: #111;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28; /* 128.571% */
  letter-spacing: -0.56px;
  margin-right: 4px;
}

@media screen and (min-width: 768px) {
  .header-container {
    width: 768px;
    height: 72px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .burger-menu {
    display: none;
  }

  .header-logo-link {
    margin-right: 40px;
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .navigation {
    display: flex;
    align-items: center;
    height: 34px;
    padding-top: 19px;
    padding-bottom: 19px;
    margin-right: 101px;
  }

  .site-nav {
    display: flex;
    align-items: center;
    height: 34px;
  }

  .site-nav-item-shop {
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: auto;
  }
  .site-nav-item-home {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .site-nav-item-home.active {
    padding: 8px 16px;
    font-weight: 700;
    color: #111;
    border-radius: 36px;
    background: #eac645;
  }

  .site-nav-item-home {
    margin-right: 24px;
  }

  .home-link {
    display: block;
    white-space: nowrap;
  }

  .site-nav-item-home,
  .site-nav-item-shop {
    transition: background-color var(--transition-time);
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .site-nav-item-shop.active {
    font-weight: 700;
    padding: 8px 16px;
    color: #111;
    border-radius: 36px;
    background: #eac645;
  }
  .shopping-link {
    white-space: nowrap;
    display: flex;
    white-space: nowrap;
    align-items: center;
    gap: 8px;
  }

  .toggle-theme {
    margin-right: 24px;
  }

  .sign-up-button {
    display: flex;
    align-items: center;

    width: 184px;
    height: 48px;
    border-radius: 18px;
    border: 1.5px solid #111;
    background-color: #4f2ee8;
    padding: 12px 14px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
  }

  .sign-up-btn-text {
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.28; /* 128.571% */
    letter-spacing: -0.56px;
    margin-right: auto;
    color: #fff;
  }
}

@media screen and (min-width: 1440px) {
  .header-container {
    width: 1440px;
    height: 72px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .header-logo-link {
    margin-right: 92px;
    padding-top: 22px;
    padding-bottom: 22px;
  }
  .site-nav-item-home {
    margin-right: 40px;
  }
  .site-nav-item-shop {
    margin-right: auto;
  }
}
