.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.disasble-scroll {
  position: relative;
  overflow: hidden;
  height: 100%;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.4);
  top: 0;
  overflow: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  max-width: 335px;
  margin: 20px auto 0 auto;
  /* position: absolute; */
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1); */
  padding: 40px 24px;
  transform: scaleY(1);
  width: calc(100% - 10px);
  min-height: 762px;
  border-radius: 18px;
  border: 2px solid #111;
  background-color: #fff;
  overflow: hidden;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  /* transform: translate(-50%, -50%) scaleY(0); */
  transform: scaleY(0);
}

.close-btn-modal {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 12px;
  right: 12px;
  background-color: transparent;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 250;
}

.icon-close-modal {
  stroke: #111;
}

.icon-close-modal:hover,
.icon-close-modal:focus {
  stroke: #4f2ee8;
}

.img-book {
  margin-top: 4px;
  width: 287px;
  height: 408px;
}
.title-book {
  color: #111;
  margin-top: 14px;
  font-family: 'DM Sans';
  font-size: 16px;

  line-height: 1.13;
  letter-spacing: -0.64px;
}

.author-book {
  color: #b4afaf;
  margin-top: 4px;
  font-family: 'DM Sans';
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.48px;
}

.descr-book {
  color: #111;
  margin-top: 18px;
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.56px;
}

.modal-img-list {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 14px;
}

.img-modal-amazon {
  width: 62px;
  height: 19px;
  filter: grayscale(100%);
  transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hover-img:hover,
.hover-img:focus {
  filter: grayscale(100%) drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
}

.img-modal-bookshop {
  width: 33px;
  height: 32px;
  filter: grayscale(100%);
}

.btn-add-local {
  display: block;
  margin: 44px auto 40px auto;

  min-width: 211px;
  height: 46px;
  background-color: transparent;
  border-radius: 40px;
  border: 2px solid #4f2ee8;
  font-family: 'DM Sans';
  color: #111;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.14px;
  text-transform: uppercase;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-add-local:hover,
.btn-add-local:focus {
  background-color: #4f2ee8;
  color: #fff;
}

.text-modal {
  color: rgba(17, 17, 17, 0.5);
  text-align: center;
  font-family: 'DM Sans';
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.4px;
}

.text-box {
  width: 242px;
  height: 36px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 579px;
    min-height: 465px;
    transform: scaleY(1);
    padding: 40px;
  }

  .add-books-backend {
    display: flex;
    flex-wrap: wrap;
  }
  .backend-box {
    display: flex;
    gap: 24px;
  }

  .title-book {
    font-size: 24px;
    margin: 0;
    line-height: 1.17;
    letter-spacing: -0.96px;
  }

  .author-book {
    font-size: 14px;

    line-height: 1.29;
    letter-spacing: -0.56px;
  }

  .img-book {
    margin-top: 0;
    width: 192px;
    height: 281px;
  }

  .modal-img-list {
    margin-top: 20px;
  }

  .btn-add-local {
    min-width: 499px;
    height: 64px;
    font-size: 18px;
    line-height: 1.33;
    margin: 40px auto 40px auto;
  }

  .text-modal {
    letter-spacing: -0.48px;
  }

  .text-box {
    width: 324px;
    height: 28px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
}
