/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./general-styles.css');
@import url('./book-id.css');
@import url('./categories-list.css');
@import url('./category-book.css');
@import url('./create-markup.css');
@import url('./fonts.css');
@import url('./header.css');
@import url('./home.css');
@import url('./markup-by-category.css');
@import url('./mobile-menu.css');
@import url('./modal.css');
@import url('./reset.css');
@import url('./shopping-list.css');
@import url('./top-books.css');
@import url('./toggle-menu.css');

/*-----    замінити :root   ------------*/
:root {
  --primary-text-color-light-theme: #111;
  --primary-text-color-dark-theme: #fff;
  --second-black-color-light-theme: rgba(17, 17, 17, 0.6);
  --second-black-color-dark-theme: rgba(255, 255, 255, 0.6);
  --primary-title-color: #b4afaf;
  --violet-color: #4f2ee8;
  --yellow-color: #eac645;
  --black-color: #202024;
}
