img {
    display: inline-block;
}
.charities-section{
    flex-direction: column;
    align-items: center;
    width: 335px;
    height: 460px;
    border-radius: 16px;
    background: radial-gradient(189.32% 190.93% at 59.76% -23.42%, #4F2EE8 18.03%, #FFF 100%);
    box-shadow: 0px 10px 10px 0px rgba(245, 245, 247, 0.10);
    margin: 0px;
}

.charities-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .charities-list li {
    display: flex;
    align-items: center;
    gap: 16px; /* Adjust this to control the gap between the number and the image */
    width: 200px;
    text-align: center;
  }

.hidden-charities {
    display: none;
    flex-direction: column;
    align-items: center;
}

.show-hidden .hidden-charities {
    display: flex;
    animation: slide-in 0.5s ease-in-out;
}

@keyframes slide-in {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.sup-ukraine-head {
    display: flex;
    align-items: center;
    gap: 12px;
    
    padding-left: 40px;
    padding-right: 100px;
    padding-top: 24px;
}
.sup-ukraine-title {
    color: #FFF;
    font-family: "DM Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
    letter-spacing: -0.88px;
    
}
.sup-ukraine-gerb {
    fill: #FFF;
}
.sup-list {
    color: #FFF;
    

font-family: "DM Sans";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
letter-spacing: -0.56px;
}
.white-image {
    filter: brightness(0) invert(1);
  }

.sup-list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding-left: 40px;
    padding-top: 40px;
}
.button-sup {
width: 32px;
height: 32px;
border-radius: 50%;
}

