/* img {
  display: inline-block;
} */
.button-sup-svg {
  stroke: green;
  fill: red;
}
.charities-section {
  padding-left: 40px;
  padding-top: 24px;
  padding-right: 40px;
  padding-bottom: 20px;

  /* position: relative; */
  width: 335px;
  height: 460px;
  border-radius: 16px;
  background: radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #fff 100%
  );
  box-shadow: 0px 10px 10px 0px rgba(245, 245, 247, 0.1);
}
.hidden-charities {
  display: none;
  flex-direction: column;
  align-items: center;
}

.show-hidden .hidden-charities {
  display: flex;
  animation: slide-in 0.5s ease-in-out;
}

@keyframes slide-in {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.sup-ukraine-head {
  display: flex;
  align-items: center;
  gap: 12px;

  margin-bottom: 40px;
}
.sup-ukraine-title {
  color: #fff;
  font-family: 'DM Sans';
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.88px;
}
.sup-ukraine-gerb {
  fill: #fff;
}
.sup-list {
  color: #fff;
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;

  height: 292px;

  margin-bottom: 20px;
}
.sup-list li {
  display: flex;
  align-items: center;
  gap: 16px;

  max-width: 149px;
  height: 32px;
}
.sup-list li:not(:last-child) {
  margin-bottom: 20px;
}
.white-image {
  filter: brightness(0) invert(1);
}
.button-sup {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  fill: #4f2ee8;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .charities-section {
    height: 474px;
    padding-bottom: 24px;
  }
  .sup-list li:not(:last-child) {
    margin-bottom: 24px;
  }
  .sup-ukraine-title {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.96px;
  }
}
