.highlighted-text {
  color: var(--violet-color);
}

.title {
  color: var(--primary-text-color-light-theme);
  font-family: DM Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px; /* 118.75% */
  letter-spacing: -1.28px;
  margin-bottom: 40px;
}

.container-best-books {
  width: 375px;
  padding: 0 20px;
}

.book-list {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

/* .book-item {
  
} */

.book-img {
  width: 335px;
  height: 485px;
  border-radius: 8px;
  background: url(<path-to-image>),
    lightgray -4.635px -16px / 102.522% 106.839% no-repeat;
  margin-bottom: 14px;
}

.book-title {
  color: var(--primary-text-color-light-theme);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 112.5% */
  letter-spacing: -0.64px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.category-title {
  color: #b4afaf;

  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.author {
  color: #b4afaf;
  font-family: DM Sans;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  letter-spacing: -0.48px;
  margin-bottom: 8px;
}

.see-more-btn {
  display: flex;
  align-items: flex-end;
  background-color: #fff;
  padding: 14px 28px;
  border-radius: 40px;
  border: 2px solid #4f2ee8;
  margin-bottom: 40px;
}
